{{- $name := .Name -}}
{{- $items := .ItemsTypeName -}}
{{- if .Nullable -}}
// {{ $name }} is generated.
type {{ $name }} struct {
	Value []{{ $items }}
}
{{- else -}}
// {{ $name }} is generated.
type {{ $name }} []{{ $items }}
{{- end }}

var _ json.Unmarshaler = new({{ $name }})

// UnmarshalJSON decodes JSON into the model.
func (a *{{ $name }}) UnmarshalJSON(data []byte) error {
{{- if .EmptyBodyAllowed }}
	if len(data) == 0 {
		return nil
	}

{{ end }}
	if bytes.Equal(data, jsonNull) {
{{- if .Nullable }}
		a.Value = nil

		return nil
{{- else }}
		return fmt.Errorf("null for not nullable array")
{{- end }}
	}

	var value []{{ $items }}

	err := json.Unmarshal(data, &value)
	if err != nil {
		return err
	}

{{ if .Nullable }}
	a.Value = value
{{- else }}
	*a = {{ $name }}(value)
{{- end }}

	return nil
}

// jsonFields returns fields promoted when the model is embedded in allOf.
func (a {{ $name }}) jsonFields() []jsonField {
{{- if .Nullable }}
	return []jsonField{requiredJSONField("Value", a.Value)}
{{- else }}
	return []jsonField{requiredJSONField("{{ $name }}", a)}
{{- end }}
}
