{{- $name := .Name -}}
{{- if .Nullable -}}
// {{ $name }} is generated.
type {{ $name }} struct {
	Value *bool
}
{{- else -}}
// {{ $name }} is generated.
type {{ $name }} bool
{{- end }}

var _ json.Unmarshaler = new({{ $name }})

// UnmarshalJSON decodes JSON into the model.
func (b *{{ $name }}) UnmarshalJSON(data []byte) error {
{{- if .EmptyBodyAllowed }}
	if len(data) == 0 {
		return nil
	}

{{- end }}
	if bytes.Equal(data, jsonNull) {
{{- if .Nullable }}
		b.Value = nil

		return nil
{{- else }}
		return NullForNotNullableBoolError
{{- end }}
	}

	var value bool

	err := json.Unmarshal(data, &value)
	if err != nil {
		return NonBoolForBoolSchemaError
	}

{{ if .Nullable }}
	b.Value = new(value)
{{- else }}
	*b = {{ $name }}(value)
{{- end }}

	return nil
}

// jsonFields returns fields promoted when the model is embedded in allOf.
func (b {{ $name }}) jsonFields() []jsonField {
{{- if .Nullable }}
	return []jsonField{requiredJSONField("Value", b.Value)}
{{- else }}
	return []jsonField{requiredJSONField("{{ $name }}", b)}
{{- end }}
}
