package example

import (
	"bytes"
	"encoding/json"
	"errors"
	"fmt"
)

var (
	NotAnObjectError              = errors.New("not an object")
	AdditionalPropertyError       = errors.New("additional property")
	MissingRequiredPropertyError  = errors.New("missing required property")
	NullForNotNullableBoolError   = errors.New("null for not nullable bool")
	NonBoolForBoolSchemaError    = errors.New("non-bool for bool schema")
	NullForNotNullableNumberError = errors.New("null for not nullable number")
	NonNumberForNumberSchemaError = errors.New("non-number for number schema")
	NullForNotNullableStringError = errors.New("null for not nullable string")
	NonStringForStringSchemaError = errors.New("non-string for string schema")
)

var jsonNull = []byte("null")

{{- range .Schemas }}

{{ .Generate -}}
{{- end }}
