package example

import (
	"testing"

	"decode_and_validate_generator/pkg/test_generator"
)

var exampleOpenAPI = []byte(`
{{ .OpenAPI -}}
`)

{{- range .Operations }}

func Test{{ .TestName }}(t *testing.T) {
	testgenerator.RunJSONRequestBodyOperationCases(t, exampleOpenAPI, "{{ .OperationID }}", func(data []byte) error {
		var value {{ .TypeName }}
		return value.UnmarshalJSON(data)
	})
}
{{- end }}
