{{- define "object_required_property" }}
		case "{{ .JSONName }}":
			has{{ .Schema.Name }} = true

			err = json.Unmarshal(value, &o.{{ .Schema.Name }})
			if err != nil {
				return err
			}
{{- end }}

{{- define "object_optional_property" }}
		case "{{ .JSONName }}":
			var {{ .LocalName }} {{ .Schema.Name }}
			err = json.Unmarshal(value, &{{ .LocalName }})
			if err != nil {
				return err
			}
			o.{{ .Schema.Name }} = &{{ .LocalName }}
{{- end }}

{{- $name := .Name -}}
type {{ $name }} struct {
{{- range .Properties }}
	{{ .Schema.Name }} {{ .FieldType }} {{ .JSONTag }}
{{- end }}
}

var _ json.Unmarshaler = (*{{ $name }})(nil)

func (o *{{ $name }}) UnmarshalJSON(data []byte) error {
{{- if .Nullable }}
	if bytes.Equal(data, jsonNull) {
		return nil
	}

{{- end }}
	d := json.NewDecoder(bytes.NewReader(data))
	d.UseNumber()

	tok, err := d.Token()
	if err != nil {
		return err
	}
	if tok != json.Delim('{') {
		return NotAnObjectError
	}

{{- range .Properties }}
{{- if .Required }}
	var has{{ .Schema.Name }} bool
{{- end }}
{{- end }}

	for d.More() {
		nameTok, nameErr := d.Token()
		if nameErr != nil {
			return nameErr
		}

		name, ok := nameTok.(string)
		if !ok {
			return NotAnObjectError
		}

		var value json.RawMessage
		err = d.Decode(&value)
		if err != nil {
			return err
		}

		switch name {
{{- range .Properties }}
{{- if .Required }}
{{- template "object_required_property" . }}
{{- else }}
{{- template "object_optional_property" . }}
{{- end }}
{{- end }}
		default:
{{- if .AdditionalProperties }}
{{- if .AdditionalPropertiesSchema }}
			var additionalProperty {{ .AdditionalPropertiesSchema.Name }}
			err = json.Unmarshal(value, &additionalProperty)
			if err != nil {
				return err
			}
{{- else }}
			continue
{{- end }}
{{- else }}
			return fmt.Errorf("%w: %s", AdditionalPropertyError, name)
{{- end }}
		}
	}

{{- range .Properties }}
{{- if .Required }}
	if !has{{ .Schema.Name }} {
		return fmt.Errorf("%w: %s", MissingRequiredPropertyError, "{{ .JSONName }}")
	}
{{- end }}
{{- end }}

	return nil
}
