		case "{{ .PropertyName }}":
			{{- if .Required }}
			has{{ .FieldName }} = true
			{{- end }}

			var {{ .LocalName }} {{ .SchemaTypeName }}
			err = json.Unmarshal(value, &{{ .LocalName }})
			if err != nil {
				return err
			}
			{{- if .Required }}
			o.{{ .FieldName }} = {{ .LocalName }}
			{{- else }}
			o.{{ .FieldName }} = &{{ .LocalName }}
			{{- end -}}
