{{- $name := .Name -}}
type {{ $name }} struct {
{{- range .Properties }}
	{{ .FieldName }} {{ .FieldType }} {{ .JSONTag }}
{{- end }}
}

var _ json.Unmarshaler = (*{{ $name }})(nil)

func (o *{{ $name }}) UnmarshalJSON(data []byte) error {
{{- if .EmptyBodyAllowed }}
	if len(data) == 0 {
		return nil
	}

{{- end }}
{{- if .Nullable }}
	if bytes.Equal(data, jsonNull) {
		return nil
	}

{{- end }}
	d := json.NewDecoder(bytes.NewReader(data))
	d.UseNumber()

	tok, err := d.Token()
	if err != nil {
		return err
	}
	if tok != json.Delim('{') {
		return NotAnObjectError
	}

{{- range .Properties }}
{{- if .Required }}
	var has{{ .FieldName }} bool
{{- end }}
{{- end }}

	for d.More() {
		nameTok, nameErr := d.Token()
		if nameErr != nil {
			return nameErr
		}

		name, ok := nameTok.(string)
		if !ok {
			return NotAnObjectError
		}

		var value json.RawMessage
		err = d.Decode(&value)
		if err != nil {
			return err
		}

		switch name {
{{- range .Properties }}
{{ .Generate -}}
{{- end }}
		default:
{{- if .AdditionalProperties }}
{{- if .AdditionalPropertiesSchema }}
			var additionalProperty {{ .AdditionalPropertiesTypeName }}
			err = json.Unmarshal(value, &additionalProperty)
			if err != nil {
				return err
			}
{{- else }}
			continue
{{- end }}
{{- else }}
			return fmt.Errorf("%w: %s", AdditionalPropertyError, name)
{{- end }}
		}
	}

{{- range .Properties }}
{{- if .Required }}
	if !has{{ .FieldName }} {
		return fmt.Errorf("%w: %s", MissingRequiredPropertyError, "{{ .PropertyName }}")
	}
{{- end }}
{{- end }}

	return nil
}
