{{- $name := .Name -}}
// {{ $name }} is generated.
{{- if .Properties }}
type {{ $name }} struct {
{{- range .Properties }}
	{{ .FieldName }} {{ .FieldType }}
{{- end }}
}
{{- else }}
type {{ $name }} struct{}
{{- end }}

var (
	_ json.Unmarshaler = (*{{ $name }})(nil)
	_ json.Marshaler = {{ $name }}{}
)

// UnmarshalJSON decodes JSON into the model.
func (o *{{ $name }}) UnmarshalJSON(data []byte) error {
	return unmarshalObject(
		data,
		{{ .EmptyBodyAllowed }},
		{{ .Nullable }},
		[]objectPropertyDecoder{
{{- range .Properties }}
{{- if .Required }}
			requiredObjectProperty({{ printf "%q" .PropertyName }}, &o.{{ .FieldName }}),
{{- else }}
			optionalObjectProperty({{ printf "%q" .PropertyName }}, &o.{{ .FieldName }}),
{{- end }}
{{- end }}
		},
		{{ .AdditionalProperties }},
{{- if .AdditionalPropertiesSchema }}
		func(value []byte) error {
			var additionalProperty {{ .AdditionalPropertiesTypeName }}

			return json.Unmarshal(value, &additionalProperty)
		},
{{- else }}
		nil,
{{- end }}
	)
}

// MarshalJSON encodes the model as JSON.
func (o {{ $name }}) MarshalJSON() ([]byte, error) {
	return marshalJSONFields(o.jsonFields())
}

// jsonFields returns the JSON fields declared by the model.
func (o {{ $name }}) jsonFields() []jsonField {
	return objectJSONFields(
		o,
		[]string{
{{- range .Properties }}
			{{ printf "%q" .PropertyName }},
{{- end }}
		},
		[]bool{
{{- range .Properties }}
			{{ not .Required }},
{{- end }}
		},
	)
}
