{{- $name := .Name -}}
{{- if .Nullable -}}
// {{ $name }} is generated.
type {{ $name }} struct {
	Value *string
}
{{- else -}}
// {{ $name }} is generated.
type {{ $name }} string
{{- end }}

var _ json.Unmarshaler = new({{ $name }})

// UnmarshalJSON decodes JSON into the model.
func (s *{{ $name }}) UnmarshalJSON(data []byte) error {
{{- if .EmptyBodyAllowed }}
	if len(data) == 0 {
		return nil
	}

{{- end }}
	if bytes.Equal(data, jsonNull) {
{{- if .Nullable }}
		s.Value = nil

		return nil
{{- else }}
		return NullForNotNullableStringError
{{- end }}
	}

	var value string

	err := json.Unmarshal(data, &value)
	if err != nil {
		return NonStringForStringSchemaError
	}
{{ if eq .Format "date-time" }}
	_, err = time.Parse(time.RFC3339, value)
	if err != nil {
		return err
	}
{{- end }}

{{ if .Nullable }}
	s.Value = new(value)
{{- else }}
	*s = {{ $name }}(value)
{{- end }}

	return nil
}

// jsonFields returns fields promoted when the model is embedded in allOf.
func (s {{ $name }}) jsonFields() []jsonField {
{{- if .Nullable }}
	return []jsonField{requiredJSONField("Value", s.Value)}
{{- else }}
	return []jsonField{requiredJSONField("{{ $name }}", s)}
{{- end }}
}
